@model VetsEvents.ViewModels.EventsViewModel
@{
    ViewBag.Title = Model.Title;
}
<h2 class="voffset5">@Model.Title</h2>
@using (Html.BeginForm("Search", "Events"))
{
    <div class="form-group">
        <div id="searchEvents" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by organizer,event.." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}
<ul class="vetevents">
    @foreach (var vetEvent in Model.UpcomingEvents)
    {
    <li>
        <div class="date">
            <div class="month">
                @vetEvent.DateTime.ToString("MMM")
            </div>
            <div class="day">
                @vetEvent.DateTime.ToString("d ")
            </div>
        </div>
        <div class="details">
            <span class="organizer">

                <a href="@Url.Action("Details","Events", new { id = vetEvent.Id})">
                    @vetEvent.EventOrganizer.Name
                </a>

                @if (vetEvent.IsCanceled)
                {
                    <span class="label label-warning">Cancelled</span>
                }
                @if (Model.IsAuthenticated)
                {
                    <button data-user-id="@vetEvent.EventOrganizerId" class="btn-link js-toggle-follower">Follow</button>
                }

            </span>
            <span class="eventtype">
                @vetEvent.EventType.Name
            </span>
                @if (Model.IsAuthenticated && !vetEvent.IsCanceled)
                {
                    <button 
                            data-event-id="@vetEvent.Id" 
                            class="btn 
                            @(Model.Attendances.Contains(vetEvent.Id) ? "btn-info" : "btn-default") 
                            btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                }
        </div>
    </li>

        }
</ul>
@section scripts {
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances", { eventId: button.attr("data-event-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something failed!");
                        });
                } else {
                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-event-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going?");
                        })
                        .fail(function () {
                            alert("Something failed");
                        });
                }
            });
            $(".js-toggle-follower").click(function (e) {
                var button = $(e.target)
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following!")
                    })
                    .fail(function () {
                        alert("Something failed!")
                    })
            });
        });
    </script>
    }