@model VetsEvents.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add an Event</h2>
@using (Html.BeginForm("Create", "Events"))
{
    <p class="alert alert-info">All fields are <strong>required</strong>.</p>
    <div class="form-group">
        @Html.LabelFor(m => m.Venue)
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "example: 1 Jan 2030" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "example:. 20:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EventType)
        @Html.DropDownListFor(m => m.EventType, new SelectList(Model.EventTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EventType)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.AntiForgeryToken()
}
@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}
